.ChatContainer {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    width: 780px;
    margin: 30px auto;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    min-height: 530px;
}

.ChatHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    padding: 1rem;
}

.Dots {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}