.ChatContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: #fff;
    width: 780px;
    margin: 30px auto;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    min-height: 530px;
}

.ChatHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex: 1;
    border-bottom: 1px solid #cfdae1;
}

.Dots {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.ChatSection {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: purple;
    flex: 10;
}

.ConversationList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
    background-color: #505d71;
    justify-content: space-between;
}

.ChatArea {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 75%;
    background-color: #fff;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    padding-left: 1rem;
}

.List {
    width: 100%;
    display: flex;
    border-bottom: 2px solid #586476;
    align-items: center;
    gap: 10px;
}

li {
    padding: 0.7rem 0rem;
    color: #fff;
}

.List:hover {
    background-color: #445166;
}

p {
    padding: 0.7rem 0rem;
    color: #fff;
    margin: 0;
}

.ButtomList {
    width: 100%;
    display: flex;
    border-top: 2px solid #586476;
    align-items: center;
    gap: 10px;
    padding-left: 1rem;
}


.Title {
    padding: 10px;
    overflow: hidden;
    line-height: 15px;
    border-bottom: 1px solid #cfdae1;
    border-right: 1px solid #cfdae1;
}

.MessageArea {
    list-style: none;
    display: flex;
    justify-content: start;
    border-bottom: 1px solid #cfdae1;
    border-right: 1px solid #cfdae1;
}

.MsgContainer {
    height: 408px;
}

.InputArea {
    display: flex;
    flex-wrap: wrap;
}

.InputWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.InputWrapper input {
    width: 100%;
}

.BtnSubmit {
    width: 20%;
    background: #a0b4c0;
    border: none;
    letter-spacing: 1px;
    font-weight: bold;
    color: #fff;
    border-radius: 4px;
    float: right;
    height: 36px;
    line-height: 30px;
    cursor: pointer;
    font-family: 'Open Sans', Arial, sans-serif;
    outline: none;
}

.MessageLi {
    display: flex;
    width: 100%;
    color: #000;
    justify-content: center;
    /* align-items: center; */
    padding: 0;
}

.Msg {
    width: 80%;
    padding-left: 1rem;
    font-size: 14px;
}

.MsgName {
    width: 20%;
    border-right: 1px solid #cfdae1;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.Msg p {
    color: #000;
}